.active{
  color : green;
  font-weight: 700;
}
.header{
  margin-bottom : 40px;
}
.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap : 10px;
  border-bottom: 1px solid #999;
  height: 50px;
}
h1{
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap : 20px;
}
.home_btn {
  padding : 2px;
}
.input_wrap{
  display: flex;
  justify-content: center;
}